/* .Header-secondary {
    height: 130px !important;
    background-color: #ff00006b;
    padding-top: 180px;
    padding-left: 25px;
    p {
        color: #bbb;
    }
} */
.CardSimpleRender- {
    display: unset !important;
    background: none !important;
    padding: 0 !important;
}
